.cont {
  height: 100vh;
  background-color: rgb(0, 0, 0);
  width: 200px;
  display: flex;
  justify-content: center;
  border-radius: 6px;
  align-items: space-around;
  padding: 0;
  .arr {
    background-color: #264653;
    border: none;
  }
  ul {
    width: 100%;
    text-align: center;
  }
  a {
    text-decoration: none;
  }
  ul > li {
    list-style: none;
    padding: 30px 10px;
    height: 75px;
    width: 100%;
    margin: 3px 0;
    text-decoration: none;
    background-color: black;
    border-top: 1px solid white;
  }
  ul > li:nth-child(2) {
    border: none;
    color: white;
  }
  ul > li > a {
    color: #e8e8e4;
  }
}
